.DS_Store
*.pyc
*.egg-info
*.swp
tags
drive/docs/current
node_modules
frontend/node_modules
.yarn-integrity
**/__pycache__
node_modules/
experiments/*
*.sql
*log.json
.env
dist/
build/

# Ignore public folder EXCEPT frontend (pre-built assets)
drive/public/*
!drive/public/frontend/
!drive/public/js/
!drive/public/.gitkeep