.DS_Store
*.pyc
*.egg-info
*.swp
tags
drive/docs/current
drive/public/frontend
node_modules
frontend/node_modules
drive/public/node_modules
drive/www/drive.html
.yarn-integrity
**/__pycache__
node_modules/
experiments
*.sql