/* IBM Plex Sans */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/assets/drive/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/assets/drive/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-stretch: 75% 100%;
  font-style: italic;
  font-display: swap;
}

/* EB Garamond */
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/drive/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/drive/fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}

/* Comic Sans MS */
@font-face {
  font-family: "Comic Sans MS";
  src: url("/assets/drive/fonts/Comic_Sans_MS/Comic-Sans-MS.ttf") format("truetype");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("/assets/drive/fonts/Comic_Sans_MS/Comic-Sans-MS-Italics.ttf") format("truetype");
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}

/* Comfortaa */
@font-face {
  font-family: "Comfortaa";
  src: url("/assets/drive/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

/* Cormorant */
@font-face {
  font-family: "Cormorant";
  src: url("/assets/drive/fonts/Cormorant/Cormorant-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url("/assets/drive/fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

/* Merriweather */
@font-face {
  font-family: "Merriweather";
  src: url("/assets/drive/fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  font-stretch: normal;
}

/* Merriweather Italic */
@font-face {
  font-family: "Merriweather";
  src: url("/assets/drive/fonts/Merriweather/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  font-stretch: normal;
}

/* Lora */
@font-face {
  font-family: "Lora";
  src: url("/assets/drive/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("/assets/drive/fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

/* Nunito */
@font-face {
  font-family: "Nunito";
  src: url("/assets/drive/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/assets/drive/fonts/Roboto/Roboto-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/drive/fonts/Roboto/Roboto-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Geist */
@font-face {
  font-family: "Geist";
  src: url("/assets/drive/fonts/Geist/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/assets/drive/fonts/Geist/Geist-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Caveat */
@font-face {
  font-family: "Caveat";
  src: url("/assets/drive/fonts/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
