@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .ProseMirror {
    p:empty::after {
      content: "\00A0";
    }
  }
  .ProseMirror p {
    white-space: pre-wrap;
  }

  .ProseMirror table {
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    page-break-inside: avoid;
    text-align: inherit;
  }

  .ProseMirror table p {
    margin: 0;
  }
  .ProseMirror td,
  .ProseMirror th {
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--outline-gray-2);
    background: transparent;
    text-align: inherit;
    padding: 0.5rem !important;
  }

  .ProseMirror th {
    background-color: var(--surface-gray-2);
    font-weight: 600;
  }

  .ProseMirror ul {
    list-style-type: disc;
  }

  .ProseMirror ol {
    list-style-type: decimal;
  }

  .ProseMirror li::marker {
    color: var(--ink-gray-3);
  }

  .ProseMirror ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;
      margin: 0;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        margin-top: 0.25rem;
        height: 1lh;
        display: flex;
        align-items: center;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
        margin-bottom: 0;

        > p {
          margin: 0.25rem 0;
        }
      }
    }
    ul[data-type="taskList"] {
      margin: 0;
    }

    input[type="checkbox"] {
      cursor: pointer;
      width: 14px;
      height: 14px;
      border-radius: 4px;
      color: theme("colors.gray.900");
    }
  }

  .ProseMirror h1,
  h2,
  h3 {
    font-weight: 600;
  }

  .ProseMirror blockquote {
    font-weight: 500;
    font-style: italic;
    border-inline-start-width: 0.25rem;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-inline-start: 1em;
    position: relative;
  }

  .ProseMirror blockquote p:first-child::before {
    content: open-quote;
  }

  .ProseMirror blockquote p:last-child::after {
    content: close-quote;
  }

  .ProseMirror span[data-comment-id] {
    border: none;
    background: transparent;
    cursor: text;
    text-decoration: none;
  }

  .prose-sm {
    caret-color: theme("colors.blue.600");
    padding: 1rem 2.5rem;
  }

  .ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    caret-color: #fff;
    page-break-inside: avoid;
  }
  .ProseMirror pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 12px;
  }

  /* Syntax Highlighting - Lowlight */
  .ProseMirror pre code .hljs-comment,
  .ProseMirror pre code .hljs-quote {
    color: #616161 !important;
  }

  .ProseMirror pre code .hljs-variable,
  .ProseMirror pre code .hljs-template-variable,
  .ProseMirror pre code .hljs-attribute,
  .ProseMirror pre code .hljs-tag,
  .ProseMirror pre code .hljs-name,
  .ProseMirror pre code .hljs-regexp,
  .ProseMirror pre code .hljs-link,
  .ProseMirror pre code .hljs-selector-id,
  .ProseMirror pre code .hljs-selector-class {
    color: #f98181 !important;
  }

  .ProseMirror pre code .hljs-number,
  .ProseMirror pre code .hljs-meta,
  .ProseMirror pre code .hljs-built_in,
  .ProseMirror pre code .hljs-builtin-name,
  .ProseMirror pre code .hljs-literal,
  .ProseMirror pre code .hljs-type,
  .ProseMirror pre code .hljs-params {
    color: #fbbc88 !important;
  }

  .ProseMirror pre code .hljs-string,
  .ProseMirror pre code .hljs-symbol,
  .ProseMirror pre code .hljs-bullet {
    color: #b9f18d !important;
  }

  .ProseMirror pre code .hljs-title,
  .ProseMirror pre code .hljs-section {
    color: #faf594 !important;
  }

  .ProseMirror pre code .hljs-keyword,
  .ProseMirror pre code .hljs-selector-tag {
    color: #70cff8 !important;
  }

  .ProseMirror pre code .hljs-emphasis {
    font-style: italic !important;
  }

  .ProseMirror pre code .hljs-strong {
    font-weight: 700 !important;
  }

  #page-break-div {
    border: none !important;
    margin: none !important;
  }

  img {
    box-shadow: none;
    border-radius: 0px;
  }

  img[data-align="left"] {
    display: block;
    margin-right: auto;
  }

  img[data-align="center"] {
    display: block;
    margin: 0 auto;
  }

  img[data-align="right"] {
    display: block;
    margin-left: auto;
  }

  img[datafloat="left"] {
    float: left;
    margin-right: 1rem;
  }

  img[datafloat="right"] {
    float: right;
    margin-left: 1rem;
  }
  
  video[data-align="left"] {
    display: block;
    margin-right: auto;
  }

  video[data-align="center"] {
    display: block;
    margin: 0 auto;
  }

  video[data-align="right"] {
    display: block;
    margin-left: auto;
  }

  video[datafloat="left"] {
    float: left;
    margin-right: 1rem;
  }

  video[datafloat="right"] {
    float: right;
    margin-left: 1rem;
  }
}
