<div style="text-align: center; font-family: Arial, sans-serif; padding: 20px">
  <h2 style="margin-bottom: 10px">Share from {{ team_name }}</h2>

  <p
    style="font-size: 14px; color: #444; max-width: 400px; margin: 0 auto 20px"
  >
    {{message}}
  </p>

  <p>
    <a
      href="{{ link }}"
      style="
        display: inline-block;
        padding: 12px 24px;
        font-size: 14px;
        color: #fff;
        background-color: #171717;
        text-decoration: none;
        border-radius: 6px;
      "
    >
      Open {{ type }}
    </a>
  </p>

  <p style="font-size: 12px; color: #888; margin-top: 15px">
    If you didn’t request this, feel free to ignore this email.
  </p>
</div>
