.prose-sm {
  min-width: 100%;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #383838;
  outline: none;
  caret-color: theme("colors.blue.600");
  word-break: break-word;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: text;
  padding: 2.5em 0em;
  background: white;
}

.prose-sm .tableWrapper {
  overflow-x: visible;
}

.prose-sm table {
  width: 100%;
  margin: 2em 0px;
  table-layout: fixed;
  font-size: 0.85em;
  line-height: 1.5;
  min-width: 200px;
  resize: both;
  border-collapse: collapse;
  border-color: inherit;
}

.prose-sm tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb;
}

.prose-sm th {
  position: relative;
  font-weight: inherit;
  background-color: #f3f3f3;
  padding: 0.5rem;
  border-width: 1px;
  border-color: #e2e2e2;
}

.prose-sm td {
  position: relative;
  padding: 0.5rem;
  border-width: 1px;
  border-color: #e2e2e2;
}

@media only screen and (max-width: 640px) {
  .prose-sm {
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
}

@media print {
  .Prosemirror {
    p:empty::after {
      content: "\00A0";
    }
  }

  #page-break-div {
    border: none !important;
    margin: none !important;
  }
  span[data-annotation-id] {
    background-color: transparent !important;
    border-bottom: none !important;
    padding: none !important;
  }
  img {
    box-shadow: none;
    border-radius: 0px;
  }
  img[dataalign="left"] {
    display: block;
    margin-right: auto;
  }

  img[dataalign="center"] {
    display: block;
    margin: 0 auto;
  }

  img[dataalign="right"] {
    display: block;
    margin-left: auto;
  }

  img[datafloat="left"] {
    float: left;
    margin-right: 1rem;
  }

  img[datafloat="right"] {
    float: right;
    margin-left: 1rem;
  }
  video[dataalign="left"] {
    display: block;
    margin-right: auto;
  }

  video[dataalign="center"] {
    display: block;
    margin: 0 auto;
  }

  video[dataalign="right"] {
    display: block;
    margin-left: auto;
  }

  video[datafloat="left"] {
    float: left;
    margin-right: 1rem;
  }

  video[datafloat="right"] {
    float: right;
    margin-left: 1rem;
  }
}
