@import url("../../assets/fonts/fonts.css");

body {
  --font-inter: "InterVar", inherit;
  --font-lora: "Lora", serif;
  --font-roboto: "Roboto", inherit;
  --font-merriweather: "Merriweather", serif;
  --font-geist: "Geist", serif;
  --font-ibm-plex: "IBM Plex Sans", sans-serif;
  --font-eb-garamond: "EB Garamond", serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-comfortaa: "Comfortaa", cursive;
  --font-caveat: "Caveat", cursive;
  --font-nunito: "Nunito", sans-serif;
  --font-comic-sans: "Comic Sans MS", sans-serif;
}

.prose-sm {
  min-width: 100%;
  caret-color: theme("colors.blue.600");
  padding-top: 1rem;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 640px) {
  .prose-sm {
    display: block;
    padding: 1rem;
    max-width: 100%;
    min-width: 100%;
  }
}

span[data-comment-id].display {
  border-bottom: 2px dashed var(--surface-blue-3);
  user-select: text;
  cursor: pointer;
  scroll-margin: 4rem;
}
span[data-comment-id].display:hover,
span[data-comment-id].display.active {
  background: var(--surface-blue-2);
}
span[data-comment-id]:not([data-resolved="true"]) {
  border-bottom: 2px dashed var(--outline-amber-2);
  user-select: text;
  cursor: pointer;
  scroll-margin: 4rem;
}

span[data-comment-id]:not([data-resolved="true"]):hover,
span[data-comment-id]:not([data-resolved="true"]).active {
  background: rgba(250, 204, 21, 0.4);
}

@media print {
  .Prosemirror {
    p:empty::after {
      content: "\00A0";
    }
  }

  #page-break-div {
    border: none !important;
    margin: none !important;
  }
  span[data-annotation-id] {
    background-color: transparent !important;
    border-bottom: none !important;
    padding: none !important;
  }
  img {
    box-shadow: none;
    border-radius: 0px;
  }
  img[dataalign="left"] {
    display: block;
    margin-right: auto;
  }

  img[dataalign="center"] {
    display: block;
    margin: 0 auto;
  }

  img[dataalign="right"] {
    display: block;
    margin-left: auto;
  }

  img[datafloat="left"] {
    float: left;
    margin-right: 1rem;
  }

  img[datafloat="right"] {
    float: right;
    margin-left: 1rem;
  }
  video[dataalign="left"] {
    display: block;
    margin-right: auto;
  }

  video[dataalign="center"] {
    display: block;
    margin: 0 auto;
  }

  video[dataalign="right"] {
    display: block;
    margin-left: auto;
  }

  video[datafloat="left"] {
    float: left;
    margin-right: 1rem;
  }

  video[datafloat="right"] {
    float: right;
    margin-left: 1rem;
  }
}

.collaboration-cursor__caret {
  border-left: 0px solid currentColor;
  border-right: 2px solid currentColor;
  margin-left: 0px;
  margin-right: -2px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 60px;
  border: 2px solid #0000001a;
  color: #ffffffdf;
  position: absolute;
  top: -1.5em;
  left: 0.25em;
  user-select: none;
  white-space: nowrap;
}
